VITE_BLOCKS_API_URL=https://api.seliseblocks.com
VITE_API_BASE_URL=https://api.seliseblocks.com
VITE_X_BLOCKS_KEY=
VITE_CAPTCHA_SITE_KEY=""
VITE_CAPTCHA_TYPE=
VITE_PROJECT_SLUG=
VITE_BLOCKS_OIDC_CLIENT_ID=
VITE_BLOCKS_OIDC_REDIRECT_URI=
